{% extends 'shared/layout.html' %}

{% block maincontent %}
<div class="section_one">
  <img id="my_picture" src="../static/main/images/image_of_me.jpg" alt="Image of Abel" loading="lazy" title="Image of Abel">
  <p><span>Abel Diaz-Valdez</span> is a senior at Michigan State University majoring in Computer Science.
  He has had a variety of hands-on expierence that has shaped his passion for software development.
  This past summer, he has developed a restaurant mobile ordering app from scratch, turning an idea into a tool that serves a need.
  Feel free to look at the projects page.
  <br />
  <br />
  Currently he is a teaching assistant for Intro to Programming using Python at MSU.
  As he approaches the end of his undergraduate journey, he is eager to find a full-time role where he can merge
  his practical expierence with his passion for software development.
  </p> 
</div>
<hr />
<div class="section_two">
  <p><span>Fun Fact About Abel:</span> <br />
  He loves to take Ice Baths🧊</p>
</div>
{% endblock %}


